# Ignore environment variable files
.env
.env.*

# Ignore Snowflake credentials (if you create any local config)
*.snowflake

# Ignore Python cache (se tiver scripts python no projeto)
__pycache__/
*.pyc